<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="background">
    <mat-card class="appCard2">
        <mat-toolbar color="accent">
            <h1 id="title" [routerLink]="['/index']">Game2gether</h1>
        </mat-toolbar>
        <mat-toolbar class="secondaryToolbar">
            <h1 id="title2">Password Reset</h1>
        </mat-toolbar>
        <mat-form-field appearance="outline" class="formInput1">
            <mat-label>New Password</mat-label>
            <input matInput type="password" placeholder="Enter your new password" [(ngModel)]="password">
        </mat-form-field>
        <mat-form-field appearance="outline" class="formInput2">
            <mat-label>Confirm New Password</mat-label>
            <input matInput type="password" placeholder="Confirm your new password" [(ngModel)]="passwordConfirm">
        </mat-form-field>
        <button mat-raised-button color="primary" id="resetBtn" (click)="passwordReset()">Submit</button>
    </mat-card>
</div>