<h1 mat-dialog-title>Create Post</h1>
<mat-divider></mat-divider>
<div mat-dialog-content class="dialogContent">
    <mat-form-field appearance="outline" class="dialogInput">
            <mat-label>Title</mat-label>
        <input matInput placeholder="Example Title" [(ngModel)]="data.post.Title">
    </mat-form-field>

    <mat-form-field appearance="outline" class="dialogInput">
            <mat-label>Mode</mat-label>
        <input matInput placeholder="PVE, PVP, Ranked, Casual, ect" [(ngModel)]="data.post.Mode">
    </mat-form-field>

    <mat-form-field appearance="outline" class="dialogInput">
        <mat-label>Description</mat-label>
        <textarea matInput class="descriptionTextArea" [(ngModel)]="data.post.Description"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="10"></textarea>
    </mat-form-field>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
    <button mat-button color="accent" (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" [mat-dialog-close]="data">Create</button>
</div>