.dialogContent {
    height: auto;
}

.dialogInput {
    width: 100%;
}

.mat-dialog-content {
    padding-top: 24px;
    padding-bottom: 24px;
}

.descriptionTextArea {
    overflow: hidden !important;
}