<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar color="accent" id="navBar">
    <mat-toolbar-row>
        <a [routerLink]="['/app/home']" class="navTitleLink">
            <h1 id="navTitle">Game2gether</h1>
        </a>
        <button mat-raised-button color="primary" id="newPostBtn" (click)="openNewPost()">
            <mat-icon class="newPostBtn">add_box</mat-icon>
            <span>New Post</span>
        </button>

        <mat-form-field appearence="standard" floatLabel="never" class="searchbar-field">
            <input matInput type="text" placeholder="Search for user by email..." [(ngModel)]="value" id="searchInput" name="email">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="logSearch()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>


        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="menuBtn">menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/app/home']">
                <mat-icon class="navMenuItem">home</mat-icon>
                <span class="navMenuItem">Home</span>
            </button>
            <button mat-menu-item [routerLink]="['/app/account/posts']">
                <mat-icon class="navMenuItem">account_box</mat-icon>
                <span class="navMenuItem">Account</span>
            </button>
            <button mat-menu-item [routerLink]="['/app/reports']" *ngIf="thisUserRole === 'Admin'">
                <mat-icon class="navMenuItem">report</mat-icon>
                <span class="navMenuItem">Reports</span>
            </button>
            <button mat-menu-item [routerLink]="['']">
                <mat-icon class="navMenuItem">exit_to_app</mat-icon>
                <span class="navMenuItem">Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>