<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container-fluid">
    <div class="row ">
        <div class="col-md-12 headerRow">
            <div class="profileInfo">
                <div class="emailTitle">
                    <span>{{ email }}</span>

                    <button mat-icon-button [matMenuTriggerFor]="playerMenu" class="playerDropDownBtn">
                        <mat-icon class="playerDropDownIcon">more_vert</mat-icon>
                    </button>
                    <mat-menu #playerMenu="matMenu" xPosition="before" [overlapTrigger]="false">
                        <button mat-menu-item (click)="reportUserPopUp()">
                            <mat-icon class="navMenuItem">report</mat-icon>
                            <span class="navMenuItem">Report</span>
                        </button>

                        <button mat-menu-item (click)="promote()">
                            <mat-icon class="navMenuItem">arrow_upward</mat-icon>
                            <span class="navMenuItem">Promote</span>
                        </button>

                        <button mat-menu-item (click)="demote()">
                            <mat-icon class="navMenuItem">arrow_downward</mat-icon>
                            <span class="navMenuItem">Demote</span>
                        </button>

                        <button *ngIf="areFriends" mat-menu-item (click)="unfriend()">
                            <mat-icon class="navMenuItem">remove_circle</mat-icon>
                            <span class="navMenuItem">Unfriend</span>
                        </button>
                        
                    </mat-menu>

                </div>
                <div class="infoInline">
                    <div class="infoSubtitle">
                        Joined on: {{AccountCreated | date:'shortDate'}}
                    </div>
                </div>
            </div>
            <mat-tab-group class="profileTabs" [selectedIndex]="selected.value" (selectedTabChange)="onLinkClick($event)">
                <mat-tab class="profileTab" label="Posts"></mat-tab>
                <mat-tab class="profileTab" label="Gaming"></mat-tab>
                <mat-tab class="profileTab" label="Chat"></mat-tab>
                <mat-tab class="profileTab" label="Rating"></mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 contentRow">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>