.background {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-image: url('../../../resources/images/nature-forest-trees-fog.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.appCard2 {
    background-color: white;
    margin: auto;
    height: 300px;
    width: 450px;
    padding: 0 !important;
}

#title {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.formInput {
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.secondaryToolbar {
    height: 48px !important;
    background-color: #d8d8d8;
}

#title2 {
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
}

#requesetBtn {
    margin:0 auto;
    display:block;
    width: 90%;
    margin-top: 35px;
    color: white;
    font-size: 16px;
}