<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="background">
    <mat-card class="appCard2">
        <mat-toolbar color="accent">
            <h1 id="title" [routerLink]="['/index']">Game2gether</h1>
        </mat-toolbar>
        <mat-toolbar class="secondaryToolbar">
            <h1 id="title2">Password Reset Request</h1>
        </mat-toolbar>
        <mat-form-field appearance="outline" class="formInput">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email address" [(ngModel)]="email">
        </mat-form-field>
        <button mat-raised-button color="primary" id="requesetBtn" (click)="passwordResetRequest()">Submit</button>
    </mat-card>
</div>