.accountSettingsWrapper {
    height: calc(100% - 20px);
    width: 100%;
    background-image: url('../../../resources/images/test2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    padding: 20px 5% 0 5%;
    overflow-y: auto;
}

.fullWidth {
    width: 100% !important;
}

.spacer {
    margin-top: 24px;
}

#accountSettingsCard {
    width: 100%;
    max-width: 750px;
    min-width: 200px;
    display: block;
    margin: 0 auto;
}

#saveBtn {
    color: white;
}

.tip {
    font-size: 12px;
}

.mat-simple-snackbar-action {
    color: #ff9900 !important;
}