<div class="profileGamingWrapper">
    <div class="gamingExpansionPanel">
        <mat-accordion *ngIf="doneLoadingSteam && hasSteam">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header class="platformExpansionPanelHeader">
                    <mat-panel-title class="gamingHeadPanel">
                        <label class="gamingText">Platform:&nbsp;Steam,&nbsp;&nbsp;&nbsp;</label>
                        <label class="gamingText">Username:&nbsp;{{steamName}}</label>
                    </mat-panel-title>
                </mat-expansion-panel-header>
            
                <div class="gameCardWrapper">
                    <div class="gameCard" *ngFor="let game of games">
                        <img class="gameCardIcon" src="{{game.picture}}">
                        <label class="gameCardText">{{game.name}}</label>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion *ngIf="!doneLoadingSteam && !hasSteam">
            <mat-expansion-panel disabled>
                <mat-expansion-panel-header class="platformExpansionPanelHeader">
                    <mat-panel-title class="gamingHeadPanel">
                        <label class="gamingText">Checking Steam credentials...</label>
                        
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-accordion>

        <mat-accordion *ngIf="doneLoadingSteam && !hasSteam">
            <mat-expansion-panel disabled>
                <mat-expansion-panel-header class="platformExpansionPanelHeader">
                    <mat-panel-title class="gamingHeadPanel">
                        <label class="gamingText">This person hasn't linked their Steam account yet.</label>
                        
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>