<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

<div class="profileGamingWrapper">
    <div class="container fullHeight">
        <form #ratingForm="ngForm">
            <div class="row fullHeight" *ngIf="!ratingExists">
                <div class="col-sm-4 fullHeight noPadding myRatingBorder">
                    <mat-toolbar color="accent" class="rateThisUserHeader">Rate this user</mat-toolbar>
                    <div class="myRatingColumn">
                        <mat-radio-group [(ngModel)]="ratingView" name="ratingView" required>
                            <label class="ratingSubTitle">Overall Rating</label><br />
                            <div class="buttonStack">
                                <mat-radio-button *ngFor="let v of views" [value]="v.view" class="viewBtn">
                                    <mat-icon>{{v.icon}}</mat-icon>
                                    &nbsp;{{v.view}}
                                </mat-radio-button>
                            </div>
                        </mat-radio-group>
                        <mat-form-field class="fullWidth headlineInput">
                            <input matInput placeholder="Enter a headline" [(ngModel)]="ratingTitle" name="ratingTitle" required>
                        </mat-form-field>
                        <mat-form-field class="fullWidth">
                            <!-- <mat-label>Description</mat-label> -->
                            <textarea matInput placeholder="Please describe your experience playing with this user."
                                class="fullWidth" [(ngModel)]="ratingDescription" name="ratingDescription" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" required>
                        </textarea>
                        </mat-form-field>
                        <div mat-dialog-actions>
                            <button mat-raised-button color="primary" (click)="submitRating()" [disabled]="!ratingForm.valid">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 fullHeight noPadding">
                    <mat-toolbar color="accent">All Ratings</mat-toolbar>
                    <div class="allRatingColumn">

                        <mat-card class="cardTest" *ngFor="let r of ratings">
                            <mat-card-header>
                                <button mat-icon-button [matMenuTriggerFor]="postMenu" class="cardOptionBtn">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #postMenu="matMenu" xPosition="before" [overlapTrigger]="false">
                                    <button mat-menu-item>
                                        <mat-icon class="navMenuItem">report</mat-icon>
                                        <span class="navMenuItem">Report</span>
                                    </button>
                                </mat-menu>
                                <mat-card-title class="cardTitle">{{r.title}}</mat-card-title>
                                <mat-card-subtitle>
                                    Rated by:
                                    <a (click)="toProfile(r.author)" class="profileLink">{{r.author}}</a>
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-divider></mat-divider>
                            <mat-card-content class="cardContent">
                                <p>{{r.desc}}</p>
                            </mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-card-actions>
                                <div *ngIf="r.rating == 1">Overall Rating: <mat-icon>thumb_up</mat-icon>
                                </div>
                                <div *ngIf="r.rating == 0">Overall Rating: <mat-icon>thumbs_up_down</mat-icon>
                                </div>
                                <div *ngIf="r.rating == -1">Overall Rating: <mat-icon>thumb_down</mat-icon>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
        </form>
        <div class="row fullHeight" *ngIf="ratingExists">
            <div class="col-sm-12 fullHeight noPadding">
                <mat-toolbar color="accent">All Ratings</mat-toolbar>
                <div class="allRatingColumn">

                    <mat-card class="cardTest" *ngFor="let r of ratings">
                        <mat-card-header>
                            <button mat-icon-button [matMenuTriggerFor]="postMenu" class="cardOptionBtn">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #postMenu="matMenu" xPosition="before" [overlapTrigger]="false">
                                <button mat-menu-item>
                                    <mat-icon class="navMenuItem">report</mat-icon>
                                    <span class="navMenuItem">Report</span>
                                </button>
                            </mat-menu>
                            <mat-card-title class="cardTitle">{{r.title}}</mat-card-title>
                            <mat-card-subtitle>
                                Rated by:
                                <a (click)="toProfile(r.author)" class="profileLink">{{r.author}}</a>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content class="cardContent">
                            <p>{{r.desc}}</p>
                        </mat-card-content>
                        <mat-divider></mat-divider>
                        <mat-card-actions>
                            <div *ngIf="r.rating == 1">Overall Rating: <mat-icon>thumb_up</mat-icon>
                            </div>
                            <div *ngIf="r.rating == 0">Overall Rating: <mat-icon>thumbs_up_down</mat-icon>
                            </div>
                            <div *ngIf="r.rating == -1">Overall Rating: <mat-icon>thumb_down</mat-icon>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>